
@{
    ViewBag.Title = "Tiendasonline";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Tiendasonline</h2>

<h2>Productos</h2>

<div id="myBtnContainer">
    <button class="mybtn active" onclick="filterSelection('all')"> Todos los productos</button>
    <button class="mybtn" onclick="filterSelection('cars')"> Videojuegos</button>
    <button class="mybtn" onclick="filterSelection('animals')"> Telefonia</button>
    <button class="mybtn" onclick="filterSelection('fruits')"> Computadoras</button>
  
</div>

<div class="mycontainer">
    <div class="myfilterDiv cars">Consolas</div>
   
    <div class="myfilterDiv cars">Controles</div>
  
    <div class="myfilterDiv cars animals">Accesorios</div>
  
    <div class="myfilterDiv animals">Celulares</div>
    <div class="myfilterDiv animals">audifonos</div>
    <div class="myfilterDiv fruits">CPU</div>
    <div class="myfilterDiv fruits ">Teclados</div>
    <div class="myfilterDiv fruits">Monitores</div>
    <div class="myfilterDiv fruits">Mouse</div>
    <div class="myfilterDiv animals">Protectores</div>
</div>

